:root {
  --bg-color: #ecf2f8;
  --white: #ffffff;
  --purple-background: #733fc8;
  --purple-accent1: #a775f1;
  --purple-accent2: #733fc8;
  --slate-background: #48556a;
  --black-background: #19202d;
}

body {
  font-family: 'Barlow Semi Condensed', serif;
  background-color: var(--bg-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.container {
  width: 327px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 70px;
}

.card {
  padding: 32px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
}

.card header {
  display: flex;
  align-items: center;
}

.card header img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.card .user {
  margin-left: 17px;
}

.card .fullname {
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0;
  font-weight: 500;
}

.card .status {
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0;
  font-weight: 500;
  opacity: 0.5;
}

.card .headline {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 600;
  line-height: normal;
  width: 263px;
}

.card .quote {
  margin-top: 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0;
  opacity: 0.7;
  width: 263px;
}

#dclifford {
  background-color: var(--purple-background);
}

#dclifford img {
  border: 2px solid var(--purple-accent);
}

#jwalters {
  background-color: var(--slate-background);
}

#jharmon {
  background-color: var(--white);
  color: var(--slate-background);
}

#pabrams {
  background-color: var(--black-background);
}

#pabrams img {
  border: 2px solid var(--purple-accent2);
}

#kwhittle {
  background-color: var(--white);
  color: var(--slate-background);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .container {
    margin: 0;
    width: 100%;
    max-width: 1110px;
    height: 572px;
    grid-template-areas:
      'a a b c'
      'd e e c';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .card .headline,
  .card .quote {
    width: 100%;
  }

  #dclifford {
    grid-area: a;
    width: 540px;
    height: 282px;
  }

  #jwalters {
    grid-area: b;
    width: 255px;
    height: 282px;
  }

  #kwhittle {
    grid-area: c;
    width: 255px;
  }

  #jharmon {
    grid-area: d;
    width: 255px;
    height: 266px;
  }

  #pabrams {
    grid-area: e;
    width: 540px;
    height: 266px;
  }
}
