/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* DESIGN SYSTEM */
:root {
  /* COLORS */
  --pure-white: #ffffff;
  --cream: #f2eae2;
  --aurometal-saurus: #6c7289;
  --deep-aquamarine: #3d8168;
  --deep-aquamarine-hover: #1a4032;
  --gunmetal: #1c232b;

  /* TYPOGRAPHY */
  --fraunces: 'Fraunces', serif;
}

body {
  font-family: 'Montserrat', serif;
  background-color: var(--cream);
  color: var(--aurometal-saurus);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--pure-white);
  border-radius: 10px;
  width: 343px;
  box-sizing: border-box;
}

.card img {
  border-radius: 10px 10px 0 0;
}

.content {
  width: 295px;
  margin: 12px 24px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.category {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.title {
  font-family: var(--fraunces);
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  color: var(--gunmetal);
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0;
}

.price p {
  display: flex;
  align-items: center;
}

.sale {
  font-family: var(--fraunces);
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  color: var(--deep-aquamarine);
  margin-right: 19px;
}

.original {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0;
}

.btn {
  width: 100%;
  height: 48px;
  background-color: var(--deep-aquamarine);
  color: var(--pure-white);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.attribution {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 376px) {
  .card {
    display: flex;
    width: 600px;
    height: 450px;
  }

  .card picture {
    width: 100%;
  }

  .card picture img {
    border-radius: 10px 0 0 10px;
    height: 100%;
  }

  .content {
    width: 300px;
    height: 450px;
    padding: 12px;
  }

  .description {
    width: 237px;
  }

  .btn {
    width: 100%;
  }
}
