:root {
  /* COLOR */
  --yellow: hsl(47, 88%, 63%);
  --gray-950: hsl(0, 0%, 7%);
  --gray-500: hsl(0, 0%, 42%);
  --white: hsl(0, 0%, 100%);

  /* TYPOGRAPHY */
  --text-preset-1-size: 24px;
  --text-preset-2-size: 16px;
  --text-preset-3-size: 14px;
  --line-height: 150%;

  /* SPACING */
  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  font-family: 'Figtree', serif;
  line-height: 1.5;
  letter-spacing: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 384px;
  background-color: var(--white);
  box-sizing: border-box;
  padding: var(--spacing-300);
  border-radius: 20px;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0 0 #000;
}

.blog-image {
  margin-bottom: var(--spacing-300);
}

.blog-image img {
  height: 200px;
  border-radius: 10px;
}

.category p {
  background-color: var(--yellow);
  color: var(--gray-950);
  padding: var(--spacing-50) var(--spacing-150);
  border-radius: 4px;
  font-size: var(--text-preset-3-size);
  font-weight: 800;
  display: inline-block;
}

.publish-date {
  margin-top: var(--spacing-150);
  font-size: var(--text-preset-3-size);
  font-weight: 500;
}

.title h2 {
  margin-top: var(--spacing-150);
  font-size: var(--text-preset-1-size);
  font-weight: 800;
  line-height: 1.5;
}

.title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.description p {
  margin-top: var(--spacing-150);
  font-size: var(--text-preset-2-size);
  font-weight: 500;
  color: var(--gray-500);
}

.author {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-300);
}

.author img {
  width: 32px;
  height: 32px;
  margin-right: var(--spacing-150);
}

.authorname {
  font-size: var(--text-preset-3-size);
  font-weight: 800;
}

.attribution {
  padding: var(--spacing-300);
  position: absolute;
  bottom: 0;
}
