/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* DESIGN SYSTEM */
:root {
  /* COLORS */
  --rose-800: #7a284e;
  --rose-80: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;

  /* TYPOGRAPHY */
  --text-preset-1-size: 40px;
  --text-preset-2-size: 28px;
  --text-preset-3-size: 20px;
  --text-preset-4-size: 16px;
  --line-height-100: 1;
  --young-serif: 'Young Serif', serif;
  --outfit-font: 'Outfit', serif;

  /* SPACING */
  --spacing-1600: 128px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 375px) {
  body {
    background-color: var(--white);
  }

  .card {
    box-sizing: border-box;
    width: 100%;
  }

  .top-image {
    width: 100%;
  }

  .text-content {
    padding: var(--spacing-500) var(--spacing-400);
  }

  .title h1 {
    font-size: var(--text-preset-1-size);
    line-height: var(--line-height-100);
    font-family: var(--young-serif);
    color: var(--stone-900);
    font-weight: 400;
  }

  .title p {
    font-size: var(--text-preset-4-size);
    color: var(--stone-600);
    font-family: var(--outfit-font);
  }

  .preparation {
    border-radius: 12px;
    padding: var(--spacing-300);
    background-color: var(--rose-80);
    font-family: var(--outfit-font);
  }

  .preparation h3 {
    font-size: var(--text-preset-3-size);
    color: var(--rose-800);
    line-height: var(--line-height-100);
    font-weight: 600;
  }

  .preparation ul {
    color: var(--stone-600);
  }

  .ingredients h2 {
    color: var(--brown-800);
    font-family: var(--young-serif);
    line-height: var(--line-height-100);
    font-weight: 400;
  }
}
