/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* DESIGN SYSTEM */
:root {
  /* COLORS */
  --rose-800: #7a284e;
  --rose-80: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;

  /* TYPOGRAPHY */
  --text-preset-1-size: 40px;
  --text-preset-2-size: 28px;
  --text-preset-3-size: 20px;
  --text-preset-4-size: 16px;
  --line-height-100: 1;
  --young-serif-font: 'Young Serif', serif;
  --outfit-font: 'Outfit', serif;

  /* SPACING */
  --spacing-1600: 128px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TABLET */
@media screen and (max-width: 768px) {
  body {
    background-color: var(--stone-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 616px;
    background-color: var(--white);
    padding: var(--spacing-500);
    border-radius: 24px;
  }

  .top-image img {
    border-radius: 12px;
    width: 100%; /* Make the image stretch horizontally */
    height: 300px; /* Stretch the image vertically */
    object-fit: cover; /* Ensures the image covers the figure area without distortion */
  }

  .text-content {
    margin-top: var(--spacing-500);
  }

  .title h1 {
    font-size: var(--text-preset-1-size);
    line-height: var(--line-height-100);
    font-family: var(--young-serif-font);
    color: var(--stone-900);
    font-weight: 400;
    letter-spacing: 0px;
    text-wrap: wrap;
  }

  .title p {
    font-size: var(--text-preset-4-size);
    color: var(--stone-600);
    font-family: var(--outfit-font);
    margin-top: var(--spacing-300);
    font-weight: 400;
  }

  .preparation {
    border-radius: 12px;
    margin-top: var(--spacing-400);
    padding: var(--spacing-300);
    background-color: var(--rose-80);
    font-family: var(--outfit-font);
  }

  .preparation h3 {
    font-size: var(--text-preset-3-size);
    color: var(--rose-800);
    line-height: var(--line-height-100);
    font-weight: 600;
  }

  .preparation ul {
    display: flex;
    flex-direction: column;
    color: var(--stone-600);
    margin-top: var(--spacing-200);
    padding-left: var(--spacing-300);
    gap: var(--spacing-100);
  }

  .preparation ul li {
    padding-left: var(--spacing-200);
  }

  .preparation ul li::marker {
    color: var(--rose-800);
  }

  .ingredients {
    margin-top: var(--spacing-400);
  }

  .ingredients h2 {
    color: var(--brown-800);
    font-size: var(--text-preset-2-size);
    font-family: var(--young-serif-font);
    line-height: var(--line-height-100);
    font-weight: 400;
    letter-spacing: 0px;
  }

  .ingredients ul {
    margin-top: var(--spacing-300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    padding-left: var(--spacing-300);
    font-size: var(--text-preset-4-size);
  }

  .ingredients ul li {
    padding-left: var(--spacing-200);
  }

  .ingredients ul li::marker {
    color: var(--brown-800);
  }

  .line {
    margin: var(--spacing-400) 0;
    border: 1px solid var(--stone-150);
  }

  .instructions h2 {
    color: var(--brown-800);
    font-size: var(--text-preset-2-size);
    font-family: var(--young-serif-font);
    line-height: var(--line-height-100);
    font-weight: 400;
    letter-spacing: 0px;
  }

  .instructions ol {
    margin-top: var(--spacing-300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    padding-left: var(--spacing-300);
    font-size: var(--text-preset-4-size);
    font-family: var(--outfit-font);
    color: var(--stone-600);
  }

  .instructions ol li {
    padding-left: var(--spacing-200);
  }

  .instructions ol li::marker {
    color: var(--brown-800);
    font-weight: 600;
  }

  .nutrition h2 {
    color: var(--brown-800);
    font-size: var(--text-preset-2-size);
    font-family: var(--young-serif-font);
    line-height: var(--line-height-100);
    font-weight: 400;
    letter-spacing: 0px;
  }

  .nutrition p {
    margin: var(--spacing-300) 0;
    font-size: var(--text-preset-4-size);
    font-weight: 400;
    font-family: var(--outfit-font);
    color: var(--stone-600);
  }

  .nutrition table {
    font-family: var(--outfit-font);
    width: 100%;
    border-collapse: collapse;
    color: var(--stone-600);
  }

  .nutrition table tr {
    border-bottom: 1px solid var(--stone-150);
  }

  .nutrition table tr:last-child {
    border-bottom: none;
  }

  .nutrition table tr td {
    width: 50%;
    padding: var(--spacing-150) 0;
  }

  .nutrition table tr td:last-of-type {
    margin: 0;
  }

  .nutrition table tr td:nth-of-type(1) {
    padding-left: var(--spacing-400);
  }

  .nutrition table tr td:nth-of-type(2) {
    color: var(--brown-800);
    font-weight: 700;
    padding-left: var(--spacing-100);
  }
}

/* MOBILE */
@media screen and (max-width: 375px) {
  :root {
    --text-preset-1-size: 36px;
  }

  body {
    background-color: var(--white);
    width: 375px;
  }

  .card {
    width: 100%;
    box-sizing: border-box;
  }

  .top-image {
    width: 100%;
  }

  .text-content {
    margin: var(--spacing-500) var(--spacing-400);
  }

  .title h1 {
    font-size: var(--text-preset-1-size);
    line-height: var(--line-height-100);
    font-family: var(--young-serif-font);
    color: var(--stone-900);
    font-weight: 400;
    letter-spacing: 0px;
    text-wrap: wrap;
  }

  .title p {
    font-size: var(--text-preset-4-size);
    color: var(--stone-600);
    font-family: var(--outfit-font);
    margin-top: var(--spacing-300);
    font-weight: 400;
  }

  .preparation {
    border-radius: 12px;
    margin-top: var(--spacing-400);
    padding: var(--spacing-300);
    background-color: var(--rose-80);
    font-family: var(--outfit-font);
  }

  .preparation h3 {
    font-size: var(--text-preset-3-size);
    color: var(--rose-800);
    line-height: var(--line-height-100);
    font-weight: 600;
  }

  .preparation ul {
    display: flex;
    flex-direction: column;
    color: var(--stone-600);
    margin-top: var(--spacing-200);
    padding-left: var(--spacing-300);
    gap: var(--spacing-100);
  }

  .preparation ul li {
    padding-left: var(--spacing-200);
  }

  .preparation ul li::marker {
    color: var(--rose-800);
  }

  .ingredients {
    margin-top: var(--spacing-400);
  }

  .ingredients h2 {
    color: var(--brown-800);
    font-size: var(--text-preset-2-size);
    font-family: var(--young-serif-font);
    line-height: var(--line-height-100);
    font-weight: 400;
    letter-spacing: 0px;
  }

  .ingredients ul {
    margin-top: var(--spacing-300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    padding-left: var(--spacing-300);
    font-size: var(--text-preset-4-size);
  }

  .ingredients ul li {
    padding-left: var(--spacing-200);
  }

  .ingredients ul li::marker {
    color: var(--brown-800);
  }

  .line {
    margin: var(--spacing-400) 0;
    border: 1px solid var(--stone-150);
  }

  .instructions h2 {
    color: var(--brown-800);
    font-size: var(--text-preset-2-size);
    font-family: var(--young-serif-font);
    line-height: var(--line-height-100);
    font-weight: 400;
    letter-spacing: 0px;
  }

  .instructions ol {
    margin-top: var(--spacing-300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    padding-left: var(--spacing-300);
    font-size: var(--text-preset-4-size);
    font-family: var(--outfit-font);
    color: var(--stone-600);
  }

  .instructions ol li {
    padding-left: var(--spacing-200);
  }

  .instructions ol li::marker {
    color: var(--brown-800);
    font-weight: 600;
  }

  .nutrition h2 {
    color: var(--brown-800);
    font-size: var(--text-preset-2-size);
    font-family: var(--young-serif-font);
    line-height: var(--line-height-100);
    font-weight: 400;
    letter-spacing: 0px;
  }

  .nutrition p {
    margin: var(--spacing-300) 0;
    font-size: var(--text-preset-4-size);
    font-weight: 400;
    font-family: var(--outfit-font);
    color: var(--stone-600);
  }

  .nutrition table {
    font-family: var(--outfit-font);
    width: 100%;
    border-collapse: collapse;
    color: var(--stone-600);
  }

  .nutrition table tr {
    border-bottom: 1px solid var(--stone-150);
  }

  .nutrition table tr:last-child {
    border-bottom: none;
  }

  .nutrition table tr td {
    width: 50%;
    padding: var(--spacing-150) 0;
  }

  .nutrition table tr td:last-of-type {
    margin: 0;
  }

  .nutrition table tr td:nth-of-type(1) {
    padding-left: var(--spacing-400);
  }

  .nutrition table tr td:nth-of-type(2) {
    color: var(--brown-800);
    font-weight: 700;
    padding-left: var(--spacing-100);
  }
}
