/* DESIGN SYSTEM */
:root {
  /* COLORS */
  --cyan-600: #4d96a9;
  --cyan-300: #8feef8;
  --purple-600: #855fb1;
  --purple-300: #d9d8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;

  /* SPACING */
  --1400: 112px;
  --1000: 80px;
  --900: 72px;
  --800: 64px;
  --700: 56px;
  --500: 40px;
  --400: 32px;
  --300: 24px;
  --200: 16px;
  --100: 8px;
  --50: 4px;
}

body {
  font-family: 'Red Hat Display', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DESKTOP TYPOGRAPHY */
.text-preset-1 {
  font-size: 64px;
  line-height: 1.1;
  font-weight: 900;
}

.text-preset-2 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 900;
}

.text-preset-3 {
  font-size: 16px;
  line-height: 1.1;
  font-weight: 900;
  letter-spacing: 4px;
}

.text-preset-4 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.text-preset-5 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 900;
}

.btn {
  padding: var(--200) var(--500);
  border-radius: 29px;
  border: none;
}

.number {
  color: var(--slate-600);
  height: 56px;
  width: 56px;
  border: 1px solid var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  overflow: hidden;
}

/* NAVBAR */
.navbar {
  padding: var(--1000) var(--1000) 0 var(--1000);
}

/* HERO */
.hero {
  padding: var(--800) var(--1000);
  display: flex;
  border: 1px solid red;
  align-items: center;
}

.hero .text-content {
  text-align: center;
  margin: 0 var(--400);
  width: 448.3px;
  height: 360px;
}

.hero .text-content h1 {
  color: var(--slate-900);
}

.hero .text-content p {
  margin: var(--400) 0;
  color: var(--slate-600);
}

.hero .buttons {
  display: flex;
  justify-content: center;
}

.hero .buttons .btn {
  color: var(--white);
}

.hero .buttons .btn:first-of-type {
  background-color: var(--cyan-600);
  margin-right: 17px;
}

.hero .buttons .btn .version {
  color: var(--cyan-300);
}

.hero .buttons .btn:last-of-type {
  background-color: var(--purple-600);
}

/* MAIN CONTENT */
.content {
  width: 100%;
  max-width: 1120px;
}

.content .image-collage {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content .image-collage img {
  width: 256px;
  height: 256px;
  border-radius: 8px;
}

.content .text-content {
  text-align: center;
}

.content .text-content h3 {
  text-transform: uppercase;
  color: var(--cyan-600);
}

.content .text-content h2 {
  width: 544px;
  margin: auto;
}

.content .text-content p {
  width: 544px;
  margin: auto;
  color: var(--slate-600);
}

/* FOOTER */
.footer {
  color: var(--white);
  width: 100%;
}

.footer .number {
  margin: auto;
}

.footer .text-content {
  background-image: url('../assets/desktop/image-footer.jpg');
  padding: var(--1400) var(--1000);
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
}

.footer .text-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 150, 168, 0.7);
}

.footer .text-content > * {
  position: relative;
}
.footer .btn {
  color: var(--white);
  background-color: var(--purple-600);
}

.footer .btn .version {
  color: var(--purple-300);
}
